@page
@model StudioBriefcase.Pages.Tutorials.CPP.DefaultModel
@{
    Layout = "~/Pages/Shared/_ContentNavigator.cshtml";
    
}


@section Selector_Panel {


    <div class="flex-shrink-0">

        <div >
            <a href="#" target="_blank">
                <img src="~/images/Thumbnails/CPP_Thumbnail_Later.png" class="img-thumbnail img_format"/>
            </a>
            <p><cite>&emsp;TODO::Reference Version</cite></p>
        </div>

        <div class="language_section">
            <p>English</p>
        </div>


        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <div class="ml-1">
                    <button class="chapter_btn_toggle collapsed align-items-center rounded light_background" type="button"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" aria-controls="home-collapse">
                        <ion-icon class="expanded" name="chevron-forward-outline"></ion-icon>
                        C++ Introduction
                    </button>

                    <div class="collapse" id="home-collapse">
                        <ul class="chapter_listElement list-unstyled fw-normal pb-1 small">
                            <li><a href="#" id="intro-link" class="link_decor content-link" data-url="@Url.Page("/Library/CPP/_intro")">Links</a></li>
                        </ul>
                    </div>
                </div>

            </li>
        </ul>
    </div>
}

@section Selected_Content {
    <div class="main_content" id="tutorial_content" data-startup-url="@Url.Page("/Library/CPP/_intro")">
        <p>Error Loading _intro.cshtml file.</p>
    </div>
}
