@{
    Layout = "_Layout.cshtml";
    <link rel="stylesheet" href="~/@(nameof(StudioBriefcase)).styles.css" />
}
<head>
    <link rel="stylesheet" href="~/css/Default_Tutorial.css" />
</head>


<div id="tutorialLayout">
    <div class="row d-flex flex-nowrap BG" >
        <div class="col panel" >
            <div class="sticky" >
                <div class="row flex-nowrap " id="mainHeight">
                    <div class="col p-0">
                        <div class="collapse show collapse-horizontal" id="chapterpanel">
                            <div class="finescroll">
                                @RenderSection("Selector_Panel", required: false)
                            </div>
                        </div>
                    </div>
                    <!-- Centered Collapser Button for side Panel -->
                    <div class="col toggle_container">
                        <button class="toggle_btn FG rounded" type="button"
                                data-bs-toggle="collapse" data-bs-target="#chapterpanel" aria-expanded="true" aria-controls="chapterpanel">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            @RenderSection("Selected_Content", required: false)
        </div>
    </div>
        
</div>
    