.row {   
    margin: 0;
    padding: 0;
}

.panel {
    max-width: fit-content;
    white-space: nowrap;
    padding: 0px;
}

.transition_properties {
    transition: width 0.4s ease-in-out;
  
}

.sticky{
    position:sticky;
    top:0px; /* Warning: Removing will break Sticky*/
    padding: 0px;
}

.toggle_container {
    
    padding-right:0px;
    padding-left:5px;
    height:90%;
}

.toggle_btn {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 29vh;
    outline:solid;
    outline-color:#ff6a00;
    outline-width:1px;
    
    padding: 0px;
    min-height: 50px;
    z-index: 1000;
    border: none;
    width: 12px;
    height: 33%;
}

    .toggle_btn:hover {
        background-color: #a1a1a1;
    }

.finescroll {

    min-height:100%;
    height: auto;
    max-height: calc(100% + 68px);*/
    overflow-x: hidden;
    overflow-y: scroll;
}

    .finescroll::-webkit-scrollbar {
        width: 5px;
    }

    .finescroll::-webkit-scrollbar-track {
        background-color: #ff6a00;
    }

    .finescroll::-webkit-scrollbar-thumb {
        background-color: #ffd800;
        border-radius: 2px;
    }







