<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*Globally Used Styles for element flow and control*@
    <link rel="stylesheet" href="~/css/baseStyles.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
