<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*Site Specific Styles and themes*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*Globally Used Styles for element flow and control*@
    <link rel="stylesheet" href="~/css/baseStyles.css" />
    @* Redefinition of html Tags *@
    <link rel="stylesheet" href="~/css/themes.css" />
    @*Helper Styles to add visual Assistance to the development process*@
    <link rel="stylesheet" href="~/css/helperStyles.css" />

    <link rel="stylesheet" href="~/css/DocyDrip-TEOStyles.css" />

    @* Default Colors used in the website and altered values used in darkmode *@
    <partial name="_colors" />
    <link rel="stylesheet" href="~/css/ColorStyles.css" />

</head>

@*vh100 is defined here so main can flex-grow the remaining space in the window
This keeps the footer at the bottom of the screen for short content*@
<body class="box-col box-justify3 c-bg zero vh100">

    <header class="header-style w100 c-fg c-shadow">
        <nav class="max-w100">
            <div class="box-wraprow box-center3">
                <div class="box-row box-center3 header-title-box-media">

                    <a class="header-logo box-center0" asp-area="" asp-page="/Index">
                        <div class="box-row box-center0">
                            <span class="header-logo-utficon">💼</span>
                            <div class="box-col header-logo-font">
                                <span>Studio</span>
                                <span>Briefcase</span>
                            </div>
                        </div>

                        @*  <img src="~/images/internal/StudioBriefcaseBanner.png" alt="Site_Logo" class="m3" style="max-width:225px;"> *@
                    </a>
                    <div class="header-title-box-btn-media">
                        <button class="me-pushend theme-avatar event-toggle c-menu" data-target="layout-navbtn">
                            <span class="navbar-toggler-icon">M</span>
                        </button>
                    </div>
                </div>

                <div class="header-link-box-media box-row box-center3 me-grow1 center3" id="layout-navbtn">

                    <ul class="box-row zero mx20">
                        <li class="me-block">
                            <a class="theme-link text-lg" id="language-parameter" asp-area="" asp-page="/Library/Index">📚library</a>
                        </li>
                        <li class="me-block">
                            <details class="theme-link text-lg" style="position:relative">
                                <summary class="summary-icon-wrench event-toggle" data-target="layout-tools">Tools</summary>
                                <div class="box-col tools-content zero c-fg" id="layout-tools">
                                    <span class="text-center">Docy Drip</span>
                                    <hr class="w100" />
                                    <span class=""><a class="theme-link text-lg" asp-area="" asp-Page="/Tools/DocyDrip/TEO">📝TEO</a></span>
                                </div>
                            </details>
                        </li>
                        <li class="me-block">
                            <details class="theme-link text-lg" style="position:relative">
                                <summary class="summary-icon-about event-toggle" data-target="layout-support">Support</summary>
                                <div class="box-col tools-content zero c-fg" id="layout-support">
                                    <span class="zero"><a class="theme-link text-lg" asp-area="" asp-Page="/Connect/Index">🌐Connect</a></span>
                                    <span><a class="theme-link text-lg" asp-area="" asp-page="/Support/Index">🧻Support</a></span>
                                </div>
                            </details>
                        </li>
                        <li class="me-block">
                            <details class="theme-link text-lg" style="position:relative">
                                <summary class="summary-icon-questionmark event-toggle" data-target="layout-about">About</summary>
                                <div class="box-col tools-content zero c-fg" id="layout-about">
                                    <span><a class="theme-link text-lg" asp-area="" asp-page="/About/Index">🧬Author Bio</a></span>
                                </div>
                            </details>
                        </li>


                        @*                         <li class="me-block">
                        <a class="theme-link text-lg" asp-area="" asp-page="/About/Index">about</a>
                        </li> *@
                        @*                         <li class="me-block">
                        <a class="theme-link text-lg" asp-area="" asp-page="/Support/Index">🙊support</a>
                        </li> *@
                    </ul>

                    <div class="box-col container-relative mx20">

                        <img class="icon-btn event-toggle icon-square-media me-justify zero c-offset" data-target="header-menu" src="~/images/External/Icons/github-mark.png" alt="Menu Icon" />
                        @*                         <button class="menu-btn event-toggle c-fg zero text-md" data-target="header-menu">
                        <img class="icon-square-media me-justify zero c-fg" src="~/images/External/Icons/github-mark.png" alt="Menu Icon" />
                        </button> *@
                        <div class="box-col me-absolute c-menu menu-window" id="header-menu">
                            @* <partial name="_menuPartial" /> *@
                            @await Component.InvokeAsync("Page_Menu");
                        </div>

                    </div>
                </div>

            </div>

        </nav>

    </header>


    @* <Main> Element is handled in subLayout because I believed letting a subLayout
    have control of main styles would simply implementing layout specific behaviors.    *@@*
    I'm might back track on this tucking the main element inside the sublayout.
    When I plug this site wide picture inside a picture. Its going to compete for space with the main element. *@


    @RenderBody() @* LeftSide *@


    <footer class="box-col w100 zero c-fg">
        <div class="footer-content">
            <div class="box-row box-center0 zero">
                <span><a asp-area="" asp-page="/Home/Privacy">Privacy~ </a></span>
                <p class="zero" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="http://studiobriefcase.com">StudioBriefcase</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://github.com/TAReber/StudioBriefcase-Web-App">Tyler A Reber</a> is marked with <a href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC0 1.0<img alt="CreateiveCommon image" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img alt="creative commons thing" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1"></a></p>
            </div>
        </div>

    </footer>


    <script src="~/scripts/site.js"></script>
    <script src="~/scripts/DocyDrip-TEO.js"></script>
    <script src="~/scripts/MainLayout.js"></script>
    <script src="~/scripts/ColorModes.js"></script>
    <script src="~/scripts/ToolDemoScripts.js"></script>
    @*jquery Added for Ajax to fetch api data*@
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
