@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<ul class="box-col box-center3 menu-style p3">
    <li class="box-row box-center3 w100">
        <span class="text-sm" style="color:inherit">Color Mode</span>
        <button class="menu-btn menu-btn-size c-fg" onclick="toggleColorScheme(this)" id="color_mode_toggle" data-target="colorscheme">Light</button>
    </li>
    @if (Context.User.Identity?.IsAuthenticated == true)
    {
        
        <li class="box-col box-center3 w100">
            <button class="menu-btn menu-btn-link c-fg"><span class="text-sm" style="color:inherit">@Context.User.FindFirst("role")?.Value</span></button>
            <select id="Menu_RoleDropdown" onchange="updateUserRole()">
                <option value="Default">Anonymous</option>
                <option value="Regular">Regular</option>
                <option value="Content Creator">Content Creator</option>
                <option value="Student">Student</option>
                <option value="Professional">Professional</option>
                <option value="Educator">Educator</option>
                <option value="Moderator">Moderator</option>
                <option value="Researcher">Researcher</option>
            </select>
        </li>

        <li class="box-col box-center0 w100">

            <span class="text-sm" style="color:inherit">@Context.User.FindFirst("name")?.Value</span>
            <a class="menu-btn menu-btn-link text-center w100 c-fg" href="/logout">Logout</a>
        </li>
    }
    else
    {
        <li class="box-col box-center0 w100">
            <span class="text-sm" style="color:inherit">GitHub OAuth</span>
            <a class="menu-btn menu-btn-link text-center w100 c-fg" href="/login">Login</a>
        </li>

    }
</ul>

        <script>
            async function updateUserRole() {
                var selectedRole = document.getElementById("Menu_RoleDropdown").value;
                console.log(selectedRole);
                //PageMethods.DotNet.invokeMethodAsync('StudioBriefcase', "UserService.SetUserRole", selectedRole);
                //await DotNet.invokeMethodAsync('StudioBriefcase', "UserService.SetUserRole", selectedRole);
                
            }
        </script>

  