@{
    Layout = "_Layout.cshtml";

}
<main class="box-col me-grow1 w100 c-bg" style="overflow:auto;">
    <div class="box-col box-w100-margin main-content">
        @RenderBody()
    </div>
    @*<partial name="_footer" />*@
</main>
