@page
@model StudioBriefcase.Pages.Tools.DocyDrip.TEOModel
@{
    Layout = "/Pages/Shared/_subLayout_Default.cshtml";
}

<h5>Docy Drip - Text Editor Object</h5>
<div class="teo-mastercontainer" id="docydrip-test1">
    <div class="box-col">
        <div class="box-row">
            <span contenteditable="false"><b>Web Rich Text Editor Progress</b></span>
            <details class="">
                <summary class="summary-icon-book event-docydrip-teo" data-target="docydrip-test1"></summary>
            </details>
        </div>
    </div>

    <div class="teo-editorbody c-fg" id="docydrip-teo-body" contenteditable="false">
        <h2 class="justify-center"><span class=""><b>DocyDrip</b></span></h2>
        <h4 class="justify-center"><span class="">Alpha Release of </span><span class=""><i>TEO, Text Editor Object.</i></span><span class=""><br></span></h4>
        <h6 class="justify-center"><span class="">Text Editor Class that creates an object that initializes and manages all buttons, events and custom behaviors to in an isolated Environment removes them all when done as if the text editor functionality was never part of the DOM tree to begin with.</span></h6>
        <p class="justify-center"><span class="">Free, public Opensource under the MIT license -&nbsp;https://github.com/TAReber/DocyDrip</span><span class=""><br></span><span class="">Test it out at&nbsp;https://www.studiobriefcase.com/Tools/DocyDrip/TEO</span></p>
    </div>

    <div class="w100" id="EditorFooter">
        <span>Edited by: Tyler Reber</span>
    </div>

</div>