@page
@model StudioBriefcase.Pages.Tools.DocyDrip.TEOModel
@{
	Layout = "/Pages/Shared/_subLayout_Default.cshtml";
}

<h5>Docy Drip - Text Editor Object</h5>
<div class="teo-mastercontainer" id="docydrip-test1">
	<div class="box-col">
		<div class="box-row">
			<span contenteditable="false"><b>Web Rich Text Editor Progress</b></span>
			<details class="">
				<summary class="summary-icon-book event-docydrip-teo" data-target="docydrip-test1"></summary>
			</details>
		</div>
	</div>

	<div class="teo-editorbody c-fg" id="docydrip-teo-body" contenteditable="false">
	</div>

	<div class="w100" id="EditorFooter">
		<span>Edited by: Tyler Reber</span>
	</div>

</div>