@page
@model StudioBriefcase.Pages.Support.IndexModel
@{

    Layout = "/Pages/Shared/_subLayout_Default.cshtml";


    ViewData["Title"] = "Support";
}

<div class="text-center my-4">
    <h3>@ViewData["Title"]</h3>
    <p class="text-center">
        Studio Briefcase is a free-to-use library for everyone and will remain so.
    </p>
</div>

<div class="support-banner-style">
    <h4 class="support-banner-text c-fg">Become a Patreon</h4>
    <a href="https://www.patreon.com/PigBoogerStudio" target="_blank" style="max-width:100%">
        <img src="~/images/Internal/PatreonBanner.png" alt="patreon_banner" class="" style="max-width:inherit" />
    </a>

</div>

<div class="box-col text-center">
    <h5>What can supporting me do?</h5>
    <div class="box-wraprow box-justify0 box-3col">

        <div class="box-col">
            <div class="text-center theme-rounded h100 c-fg">
                <h6>Give to the Community</h6>
                <p>
                    Studio Briefcase is free-to-use for everyone, is licensed under the creative commons and in a public repository.
                     Supporting me supports everyone.
                </p>
            </div>
        </div>

        <div class="box-col ">
            <div class="text-center theme-rounded h100 c-fg">
                <h6>Patreon Media Content</h6>
                <p>
                    The development cycle will be documented for Patreon subscribers. It will cover first concept, research, tiral and errors and refactors.
                </p>
            </div>

        </div>

        <div class="box-col">
            <div class="text-center theme-rounded h100 c-fg">
                <h6>Continued Development</h6>
                <p>
                    Donations will be used for website upkeep costs, better quality media creation tools and maybe even help me set up a proper work environment. 
                </p>
            </div>
        </div>
    </div>
</div>


<div class="box-col box-center0 ">

    <h6>Current Monthly Costs</h6>
    <table class="c-bg">
        <thead>
            <tr>
                <th>Service</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Azure Web Service Subscription B1</td>
                <td>$54.75</td>
            </tr>
            <tr>
                <td>Azure Standard Database, Development Service</td>
                <td>$8.50</td>
            </tr>
            <tr>
                <td>Domain Names</td>
                <td>$1</td>
            </tr>
            <tr>
                <td>Current GitHub Services</td>
                <td>Free</td>
            </tr>
            <tr>
                <td>Current Discord Service</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Monthly Total</strong></td>
                <td><strong>$64.25</strong></td>
            </tr>
            <tr>
                <td><strong>Yearly Total</strong></td>
                <td><strong>$771</strong></td>
            </tr>
        </tbody>
    </table>

</div>

<div class="box-rowwrap">

    <div class="text-center theme-rounded c-fg">
        <div class="text-lg"><strong>Alternate Support</strong></div>
        <div>Donate with Pay-pal as an alternative to Patreon.</div>
    </div>

    <div class="text-center theme-rounded c-fg">

        <div id="donate-button-container">
            <div id="donate-button"></div>
            <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
            <script>
                PayPal.Donation.Button({
                    env: 'production',
                    hosted_button_id: 'YRNYVAHFETNSA',
                    image: {
                        src: 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                        alt: 'Donate with PayPal button',
                        title: 'PayPal - The safer, easier way to pay online!',
                    }
                }).render('#donate-button');
            </script>
        </div>
    </div>
</div>


