@page
@model StudioBriefcase.Pages.About.IndexModel
@{
    Layout = "/Pages/Shared/_subLayout_Default.cshtml";
    ViewData["Title"] = "About Page";
}
<div class="">
    <div class="text-center">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div>
    <h6>Page Under Development.</h6>
    <p>
        Replacing Boot Strap accordian class - will take a little extra
        time to add a similar design to my own styles.
    </p>
</div>



<div class="">
    <h6 class="text-center m0">The person behind the website.</h6>
</div>

<div class="box-wraprow box-justify0 box-3col">
    <div class="box-col">
        <div class="theme-rounded h100 c-fg">
            <div class="thumbnaillink">
                <a href="https://github.com/TAReber" target="_blank">
                    <img src="~/images/external/GitHub_Logo.png" alt="GitHub_Logo" class="thumbnail-img" style="max-width:150px;">
                </a>
                <div class="thumbnail-text">Visit</div>
            </div>
            <p>
                See what projects I've been working on. (There are none);
            </p>
        </div>

    </div>

    <div class="box-col">
        <div class="theme-rounded h100 c-fg">
            <div class="thumbnail_link">
                <a href="https://www.youtube.com/channel/UCNYjsVrDIv9X8qWvI88gWlg" target="_blank">
                    <img src="~/images/external/youtube_logo.png" alt="youtube_channel" class="thumbnail-img" style="max-width:150px;">
                </a>
                <div class="thumbnail-text">Visit</div>
            </div>
            <p>
                Watch my terribly edited Youtube videos.
            </p>
        </div>
    </div>

    <div class="box-col">
        <div class="theme-rounded h100 c-fg">
            <div class="thumbnail-link">
                <a href="https://www.linkedin.com/in/tyler-a-reber-technology/" target="_blank">
                    <img src="~/images/external/LinkedIn-logo.png" alt="linkedin_Logo" class="thumbnail-img" style="max-width:150px;">
                </a>
                <div class="thumbnail-text">Visit</div>
            </div>
            <p>
                LinkedIn profile Page where not much is happening.
            </p>
        </div>
    </div>
</div>


<div class="">
    <h5 class="text-center">Quick Summary</h5>
    <p>
        You are here because you dream of a project. There is nothing like it in the world, so there is no template that will tell
        you how to make it.
    </p>

    <p>
        Often, advice given by others will be misleading. Lets say you want to make your own Game Engine and you start
        learning C++. Someone will tell you technically you can do it all with just knowing C++ code. They aren't wrong. But you can't do it with just
        knowing C++ because you don't have enough hours in your life time to recreate everything with C++.
    </p>

    <p>
        The reality is, C++, any single language or framework is just one piece of a massive puzzle your trying to assemble. Programming is knowing
        how to take all these different pieces and use them to assemble whats in your mind. The goal of this site is to show you what puzzles pieces
        you have to work with and how they work with eachother.
    </p>
</div>



<div class="accordion w100">

    <div class="accordion-item c-bg">

        <button class="accordion-toggle c-fg event-toggle" type="button" data-target="purpose">
            <span>Site Purpose</span>
        </button>

        <div class="accordion-target-vertical box-col" id="purpose">

            <p>
                The purpose for creating this site was to help others find their potential. The tech industry is hundreds of frameworks with millions of
                man hours to make them. Entire careers are built around them and it is no easy task.
            </p>
            <p>
                What matters to me is time. The number of hours spent being dumb and confused is something I seek remove from the learning curve.
                If a hundred hours of my work can save many people ten hours of their life, or even prevent one person from losing motivation,
                them it was worth my effort and time.
            </p>

        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-toggle c-fg event-toggle" type="button" data-target="methodology">
            <span>Tutorial Methodology</span>
        </button>
        <div class="accordion-target-vertical box-col" id="methodology">
            <p>
                Reading through the documentation that exists for any framework is a monumental task. These documents are usually written in a language
                that adopts acedemic standard and abstracts terminology that mean nothing outside the target framework. The information is difficult
                to dissect, difficult to digest, if not mind numbingly boring to read.
            </p>
            <p>
                In order to understand a framework, you need to think the same way the people who created it think. What makes it more difficult,
                these frameworks and systems often rely on one another to solve one kind of problem. Learning to build this website using
                ASP.NET Core launched myself into a rabbit hole filled with documents. I started learning a framework that uses high level of
                abstraction that depends on other framework like html, css, bootstrap, javascript, sql, c# to make a final product. It caused
                me pain and left me feeling like a nincompoop on many occasions.
            </p>
            <p>
                My tutorials focus' on a few goals intended to make learning as pain free as possible.
                <ul>
                    <li>Introduction to what a framework is for and the structure of how it solves that problem.</li>
                    <li>Introduction to the nomenclature used in official documentation to assist in learning how to find and research information in external sources.</li>
                    <li>Introduction to frameworks features and how they are used.</li>
                    <li>Introduction to how its used with other frameworks, ranging from build environments, to languages, to frameworks.</li>
                    <li>To present documented information at the right time in the right way.</li>
                    <li>Most importantly, to make sure you are aware of the things you don't yet know exist but need to know.</li>
                </ul>
            </p>

        </div>
    </div>

    <div class="accordion-item">

        <button class="accordion-toggle c-fg event-toggle" data-target="qualification">
            <span>Qualifications</span>
        </button>

        <div class="accordion-target-vertical box-col" id="qualification">

            <p>
                With less than two years of programming experience shows I'm not qualified to tell people best coding practices.
            </p>
            <p>
                What I am familiar with are the challenges new learners face when being hurled at the mountain of information and
                I think I can help sort and organize the information and present it in a way thats easy for people understand and save time.
            </p>


        </div>
    </div>

    <div class="accordion-item">

        <button class="accordion-toggle c-fg event-toggle" data-target="audience">
            <span>Target Audience</span>

        </button>

        <div class="accordion-target-vertical box-col" id="audience">

            <p>
                The tutorials in this site target people with no knowledge of the target framework or programming language. Because some frameworks
                are dependent on other frameworks, it will assume basic understanding of that framework.
            </p>



        </div>
    </div>

    <div class="accordion-item">

            <button class="accordion-toggle c-fg event-toggle" data-target="disclaimer">
                <span>Disclaimer</span>   
            </button>

        <div class="accordion-target-vertical" id="disclaimer">

                <p>
                    The tutorials on this site are not intended replace any official Documentation. Its purpose is to provide a simplified introduction
                    to conventions, design and structure so a person can engage and research official documentation easier.
                </p>
                <p>
                    What is said and what is not said these tutorials is done because I believe that some things in the official documentation
                    have a better time and place to be talked about in detail. The goal is to show people where the base of the mountain is so
                    they know where and how to start climbing from.
                </p>


        </div>

    </div>

</div>


