@page
@model StudioBriefcase.Pages.About.IndexModel
@{
    Layout = "/Pages/Shared/_subLayout_Default.cshtml";
    ViewData["Title"] = "About Page";
}
<div class="">
    <div class="text-center">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div class="">
    <h6 class="text-center m0">The person behind the website.</h6>
</div>

<h6>Page Still Under Revision</h6>

<div class="box-wraprow box-justify0 box-3col">
    <div class="box-col">
        <div class="theme-rounded h100 c-fg">
            <div class="thumbnaillink">
                <a href="https://github.com/TAReber" target="_blank">
                    <img src="~/images/external/GitHub_Logo.png" alt="GitHub_Logo" class="thumbnail-img" style="max-width:150px;">
                </a>
                <div class="thumbnail-text">Visit</div>
            </div>
            <p>
                See what projects I've been working on. (There are none);
            </p>
        </div>

    </div>

    <div class="box-col">
        <div class="theme-rounded h100 c-fg">
            <div class="thumbnail_link">
                <a href="https://www.youtube.com/channel/UCNYjsVrDIv9X8qWvI88gWlg" target="_blank">
                    <img src="~/images/external/youtube_logo.png" alt="youtube_channel" class="thumbnail-img" style="max-width:150px;">
                </a>
                <div class="thumbnail-text">Visit</div>
            </div>
            <p>
                Watch my terribly edited Youtube videos.
            </p>
        </div>
    </div>

    <div class="box-col">
        <div class="theme-rounded h100 c-fg">
            <div class="thumbnail-link">
                <a href="https://www.linkedin.com/in/tyler-a-reber-technology/" target="_blank">
                    <img src="~/images/external/LinkedIn-logo.png" alt="linkedin_Logo" class="thumbnail-img" style="max-width:150px;">
                </a>
                <div class="thumbnail-text">Visit</div>
            </div>
            <p>
                LinkedIn profile Page where not much is happening.
            </p>
        </div>
    </div>
</div>

<div class="accordion w100">

    <div class="accordion-item c-bg">

        <button class="accordion-toggle c-fg event-toggle" type="button" data-target="purpose">
            <span>Site Purpose</span>
        </button>

        <div class="accordion-target-vertical box-col" id="purpose">

            <p>
                Studio Briefcase Web Application is library of computer Science topics that are intrinsically hyperlinks to related coding resources, 
                documentation and tutorials, with the goal of saving people time and frustration learning how to code.
            </p>

        </div>
    </div>

    <div class="accordion-item c-bg">

        <button class="accordion-toggle c-fg event-toggle" type="button" data-target="ProjectGoals">
            <span>Specific Project Goals</span>
        </button>

        <div class="accordion-target-vertical box-col" id="ProjectGoals">

            <p>
                The issue people face learning computer science isn’t that resources are unavailable. Its that people don’t know what tools to look 
                for and they don’t know how to get started with them. It’s easy to find yourself using the wrong tool for the wrong job. These are 
                issues related to one’s own unknowing.
            </p>
            <p>
                This means people waste hours of life every single day looking for the wrong information. I know I’ve spent days dealing with 
                problems that didn’t even involve writing code. It was just a checkbox in some menu I didn’t know existed.
            </p>
            <h6>Application Goals</h6>
            <ul>
                <li>Hyperlink people to the information they need.</li>
                <li>Ensure awareness of the right information needed to search correctly the first time.</li>
                <li>To Save people time and frustration learning to code.</li>
                <li>Connect people to each other and thing’s they are working on.</li>
            </ul>

        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-toggle c-fg event-toggle" type="button" data-target="methodology">
            <span>Tutorial Methodology</span>
        </button>
        <div class="accordion-target-vertical box-col" id="methodology">
            <p>
                This is a data driven web application that introduces languages and libraries hyperlinked to important and essential resources.
                Each library will be broken up into subjects, each subject will have many topics, inside each topic will be many sections with boards
                that allow people to post related learning resources about that specific section.
            </p>


            <ul>
                <li>
                    <strong>Hyperlinked Resources</strong> – The Website will manage hyperlinks to living documentation and their organization.
                    But users will have access to posting boards that exist in every section, in every topic, in every subject in every library.
                    These boards will provide tools to quickly generate previews to external sources heavily related that specific section.
                </li>
                <li>
                    <strong>Ensure Awareness</strong> – A proper Library Introduction that archives how to work with the library, the development
                    environment, adjacent tools and frameworks, the tools that are available. The design goal isn’t to make people masters of
                    something, that’s what other people’s tutorial content is for, but my website ensure its stated, easily accessible and at the
                    very least a person will remember the spot they can go that’s linked to all related resources.
                </li>
            </ul>
            <h6>Planned Tutorial Design</h6>
            <ul>
                <li>
                    <strong>Library Introduction</strong> – This is a tutorial that unpacks everything related to developing your project with the respective
                    library. It archives the purpose, how it works, related tools, adjacent frameworks and computer science concepts, its history, and the
                    development environment. Plenty can be said about a library before a single line of code is written.
                </li>
                <li>
                    <strong>Library Content</strong> – These aren’t project specific tutorials, but general code introductions to topics in that
                    library. How information can be used to solve an individual’s problems is up to them. Project tutorials can be reserved for
                    content creators.
                </li>
                <li>
                    <strong>Posting Boards</strong> - Boards are points or section in a tutorial topic that allow other people, content creators,
                    authors, professors, school to create posts that hyperlink to related resources about that topic. The goal is to get people to
                    the correct information they need, not to redocument or replace other people’s resources. No way I could teach everything on my own.
                </li>
                <li>
                    <strong>Post Types</strong> - Posts can be tagged and filtered as questions, video link, book link, series, courses to assist the
                    users preferred learning method.
                </li>
            </ul>


        </div>
    </div>


    <div class="accordion-item">

        <button class="accordion-toggle c-fg event-toggle" data-target="audience">
            <span>Target Audience</span>

        </button>

        <div class="accordion-target-vertical box-col" id="audience">

            <p>
                The tutorials in this site target people with no knowledge of the target framework or programming language. Because some frameworks
                are dependent on other frameworks, it will assume basic understanding of that framework.
            </p>



        </div>
    </div>

    <div class="accordion-item">

        <button class="accordion-toggle c-fg event-toggle" data-target="disclaimer">
            <span>Disclaimer</span>
        </button>

        <div class="accordion-target-vertical" id="disclaimer">

            <p>
                The tutorials on this site are not intended replace any official Documentation. Its purpose is to provide a simplified introduction
                to conventions, design and structure so a person can engage and research official documentation easier.
            </p>
            <p>
                What is said and what is not said these tutorials is done because I believe that some things in the official documentation
                have a better time and place to be talked about in detail. The goal is to show people where the base of the mountain is so
                they know where and how to start climbing from.
            </p>


        </div>

    </div>

</div>


