@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="accordion-item">

    <button class="accordion-toggle c-fg event-toggle text-sm" data-target="20230401_patch">
        PatchNotes - 01/04/2023 - First Prototype Website
    </button>

    <div class="accordion-target-vertical box-col c-fg" id="20230401_patch">
        <p>
            Since I went back to school in 2019 for Electronics Technology, All the notes and assignments
            I worked on were neatly written with the thought that someone else could read from them and
            understand.
        </p>
        <p>
            When I started GameDevelopment at Full Sail, notes became fancier with my course in presentation,
            I found my self creating Powerpoint presentations with the idea that someone else could learn from them.
            It was more convenient to go digital because my daughter tends to destory any hand written notes.
        </p>
        <p>
            Today, I'm almost done with my degree at FullSail. I'm began a website that I could transfer my notes and knowledge
            to people who also want to learn.
        </p>
       <ul>
           <li>Prototyped first Website over spring break with ASP.Net Core.</li>
           <li>Created Overview of Vulkan API.</li>
           <li>Launched with Azure Services.</li>
       </ul>
    </div>
</div>