@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="accordion-item">

    <button class="accordion-toggle c-fg event-toggle text-sm" data-target="20231201_patch">
        PatchNotes - 12/01/2023 - Picking Project Back up
    </button>

    <div class="accordion-target-vertical box-col c-fg" id="20231201_patch">
        <p>
            I called my school to drop of the full sail degree program. I'm not sure if I made the right decision, or what my options were when I called, but it wasn't an easy call. 
            Raising 2 kids with ulcerative colitis made it very difficult to set time quality time for study, it was only going to get more difficult with my new job I start next week. I 
            thought I might beable to pick the degree program back up after my wife completes her master's degree, but my FullSail email and account was immediatly deactivated. 
        </p>
        <p>
            Now it seems I have no hope to return. That's too bad, I managed to maintain a 3.22 GPA and was had only 6 months left in the program.
        </p>

        <p>It's the 24th of November and I decided to move forward with developing this website. It's been a few month since, It will be a good chance to reinforce what I've learned at Full Sail and hone my abilities at a pace
            that doesn't take from health or my kids. I still believe it has the potential assist many people interested in learning who might not have access to higher education. Now that I'm out of school direst my efforts
            to this project.
        </p>
        <h6>Job Update</h6>
        <p>
            I was fired from my new job after the first day. My Daughter was throwing up on thanks giving and I contracted whatever it was. I always get what the kids have and it always hits me the
            hardest because ulcerative colitis took its toll on my health. I had to call in sick for the seond, third and fourth day, and my contract was terminated.
        </p>
        <p>
            This patch is a simple update catch me back up on a project I haven't looked at for a few months. So it took a few days to remember how everything works. It could use comments.
        </p>
        <ul>
            <li>Updated Azure Identity version</li>
            <li>Registered another OAuth application to do Development Testing and modified the existing code to callback to Local Host</li>
            <li>GitUser is now Inserted into the Database when logging in with github OAuth</li>
            <li>Added a new Model to represent Github user Data to uniquly identify the user.</li>
            <li>Added a new Service to manipulate user data</li>
            <li>Added an Additional Offset Color to the color mode system. Was very easy and intuitive.</li>
            <li>Added Creative Commons License to the footer so I don't need to add it anywhere else.</li>
            <li>Updated the menuPartial to display extra information.</li>
            <li>Attempted to Cache some universal Link data in the library to reduce Library calls.</li>
        </ul>

        <h6>Next Objective</h6>
        <ul>
            <li>I've learned how to Read data from the database to create datadtiven pages.</li>
            <li>I'm able to insert into the database from the server side.</li>
            <li>In need to learn how to update the records from a user request on the client side.</li>
            <li>Once I figure this out, I can work on new planned feature and implement many prototypes I created.</li>
            <li>I also intend to add database dumps to the repo so people can atleast replicate the database and run private instance on their machine. Maybe that's unethical, I need to think about it more.</li>
        </ul>
    </div>
</div>