@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="accordion-item">

    <button class="accordion-toggle c-fg event-toggle text-sm" data-target="20230701_patch">
        PatchNotes - 01/04/2023 - Azure Security and GitHub Oauth
    </button>

    <div class="accordion-target-vertical box-col c-fg" id="20230701_patch">
        <p>
            Refined Site Purpose
        </p>
        <p>
            It's purpose is to create a library of programming resources that is intrinsically hyperlinked to
            living documentation, industry terms, tutorial videos, online courses. It will make use of a database
            that will allow visitors or other content creators to help build the database by linking their own
            content through posting boards that will exist in every topic, of every subject of every library.
            Learners will easily be able to reach out to other related content if I'm not able to introduce
            something in a way they can understand. The goal is to save time and frustration learning to code.
        </p>

        <ul>
            <li>Implemented Azure Managed Identies Working</li>
            <li>Added Login Through the Github OAuth</li>
            <li>Designed and Created a Database Schema
                <ul>
                    <li>Database Server Created with Azure Flexible Server.</li>
                    <li>Designed Relational Database.</li>
                </ul>
            </li>
            <li>Added quick links to living Documentation in tutorial</li>
            <li>Began a topic about LunarG Software Development Kit for Vulkan Library</li>
            <li>Turned all Vulkan functions into hyperlinks</li>
        </ul>
    </div>
</div>