
<div class="accordion-item">

    <button class="accordion-toggle c-fg event-toggle text-sm" data-target="20241012_patch">
        PatchNotes - 10/12/2024 - Website Development Delay and Continuance
    </button>

    <div class="accordion-target-vertical box-col c-fg" id="20240601_patch">
        <h5>Two Major Events have taken Place in my life in the past 4 months.</h5>
        <p>
            First, a friend helped me get my old job back. I had left due to illness with ulcerative colitis and I had assumed that it was over.
            I didn't think I had a chance to get the job back and I was too embarrassed to ask. But all my former coworkers remembered me
            and wanted me back.
        </p>
        <p>
            The second major event is I joined a game delelopment group called P1 Games, where I am able to meet and netword with people trying to get into the game industry.
            Development on the game has overtaken all my free time to development this website. P1 Games has been perfectly free and has never asked me for any money.
        </p>
        
        <h6>What does this all mean for Studio Briefcase</h6>
        <p>
            I removed the paypal and stripe donation links from the site and deleted the links from the respective sites, which were actually already expired and inactive. The only reason I ever set up a donation page was because I was unemployed an on the brink of homelessness.
            Because I now have a job, I am perfectly capable to sustaining the website on my own dollar. Whenever money starts moving around, it will invite nothing but trouble and its better to just not deal in it.
        </p>
        <p>
            This will resume shortly, just really slow, with the new job and this game we`re developing, its just gonna be a little slower. This was all too much for one junior developer to do.
        </p>
    </div>
</div>