@{
}

<div class="accordion-item">

    <button class="accordion-toggle c-fg event-toggle text-sm" data-target="20240601_patch">
        PatchNotes - 06/01/2024 - DocyDrop - TEO Web Rich Text Editor Solution
    </button>

    <div class="accordion-target-vertical box-col c-fg" id="20240601_patch">
        <p>
            I was creating the functionality to allow users to edit the content on this website. I need a text editor and decided to build my own.
            The TEO Web Rich Text Editor Solution is a simple text editor that allows users to edit the content on this website. It is built entirely by
            me and is nearing a state that will all potential use cases for this website and other people's websites.
        </p>
        <p>
            This text editor was way more difficult than I imagined it could be. But doing it finally taught me how JavaScript works and that 
            was a big hurdle I overcame because now I will know how to teach it to other's on this website.
        </p>
        <h6>Features</h6>
        <ul>
            <li>Created a Web Rich Text Editor with JavaScript</li>
        </ul>

        <h6>Next Objective</h6>
        <ul>
            <li>Integrate Dynamically loaded CSS class into the text editor.</li>
            <li>Test Text Editor to ensure to make sure the html stays clean.</li>
        </ul>
    </div>
</div>