@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="accordion-item">

    <button class="accordion-toggle c-fg event-toggle text-sm" data-target="20240201_patch">
        PatchNotes - 02/01/2024 - Menu, Color Manager, and Prototype Posting board Sections
    </button>

    <div class="accordion-target-vertical box-col c-fg" id="20240201_patch">
        <p>
            I job situation is rough. I interviewed for a custodial position in my town's local school district. It sounded like they were willing to give me a chance
            on condition my company's past numbers and referels confirm my story. I'm a recluse. Do my friends even remember me?
        </p>
        <p>
            Since school ended, I increased my social media presence. It slowed down development on this website but I still got some features implemented.
        </p>
        <p>
            This is also the day I will attempt to launch a Kickstarter funding project. With these major features near completion, I can maybe use their introduction to generate a little extra traffic to this site, people will finally beable to see what the project is all about.
            Alot of ground work has been laid before this could take off. That ground work is almost done.
        </p>
        <h6>Features</h6>
        <ul>
            <li>Created a way for Users to update their roles</li>
            <li>Created Color Manager System to allow users to control the color pallete of the website.</li>
            <li>Created the Posts table in the database that allows user generated posts to be made</li>
            <li>The relational database maps 1 to 1 with the razor pages in the website library</li>
            <li>I created a Section View Component that can quickly create posting boards that to a set of posts in the database.</li>
            <li>The the structure automatically creating subset of a subset, I implemented Tags to filter that set of posts.</li>
            <li>I created a form to add new video posts to the database.</li>
            <li>I created a form to inspect existing posts in the database.</li>
            <li>I created a way to delete posts in the database.</li>
            <li>I created a tag filter system on navigator that will eventually be used to dynamically control the content that appears on the pages.</li>
        </ul>

        <h6>Next Objective</h6>
        <ul>
            <li>Retrieve List of video post weblinks for the client side.</li>
            <li>Populate the section viewport with those links</li>
            <li>Test the System.</li>

        </ul>
    </div>
</div>