@*
    //Map Selectors in the Mini Layout
*@
@{
}
@model StudioBriefcase.Models.LibraryMapModel

<div class="box-row w100">
    <select style="width:150px;" type="text" id="mini-category" value=@Model.ids.CategoryID onchange="MapOptionsChangedDuplicate('mini',0)">
        @await Html.PartialAsync("/Pages/Shared/Components/Base/_SelectOptions.cshtml", Tuple.Create(Model.lists.Categories, Model.ids.CategoryID))
    </select>

    <select style="width:150px;" type="text" id="mini-library" value="@Model.ids.LibraryID" onchange="MapOptionsChangedDuplicate('mini',1)">
        @await Html.PartialAsync("/Pages/Shared/Components/Base/_SelectOptions.cshtml", Tuple.Create(Model.lists.Libraries, Model.ids.LibraryID))
    </select>
</div>

<div class="box-row w100">
    <select style="width:150px;" type="text" id="mini-subject" value="@Model.ids.SubjectID" onchange="MapOptionsChangedDuplicate('mini',2)">
        @await Html.PartialAsync("/Pages/Shared/Components/Base/_SelectOptions.cshtml", Tuple.Create(Model.lists.Subjects, Model.ids.SubjectID))
    </select>

    <select style="width:150px;" type="text" id="mini-topic" value="@Model.ids.TopicID">
        @await Html.PartialAsync("/Pages/Shared/Components/Base/_SelectOptions.cshtml", Tuple.Create(Model.lists.Topics, Model.ids.TopicID))
    </select>
</div>
