@page
@model StudioBriefcase.Pages.Library.WebSite._introModel
@{
    Layout = null;
}

<div class="container-fluid size_container p-3">
    <h3>HTML, CSS & Javascript</h3>
    <h4>Comming Soon</h4>
    
</div>
