@page
@model StudioBriefcase.Pages.Home.ConnectModel
@{
    ViewData["Title"] = "Home page";
    ViewData["DiscordChannel"] = "https://discord.gg/abcBNkDj";
}

<head>
    <link rel="stylesheet" href="~/css/index_unique.css" />
</head>

<div class="container-fluid size_container mt-2">

    <div class="text-center">
        <h1>Connect with Peers</h1>
        <p class="text-center">Available Sources to Connecting with other who use this site.</p>
    </div>

    <div class="FG d-inline-block mx-auto p-3 rounded w-100">

        <div class="row d-flex justify-content-center gy-2">

            <div class="col thumbnail_link" id="discord_channel" data-value="@ViewData["DiscordChannel"]">
                <a href="https://discord.com/" target="_blank">
                    <img src="~/images/external/discord-mark-blue.png" alt="discord_thumbnail" class="img-thumbnail">
                </a>
                <button class="thumbnail_btn" onclick="copyToClipboard('discord_channel', this)">Copy Discord Link</button>
                <div class="thumbnail_text">Visit Discord</div>
            </div>
        </div>
    </div>
</div>