@page
@model StudioBriefcase.Pages.Home.LibraryModel
@{
}
<!-- These image Links Target the Tutorials Default.cshtml Page-->

<div class="container" style="margin-top:40px;">
    <div class="row justify-content-center">
        <div class="col-sm-4 thumbnail_link mb-2">
            <a asp-area="" asp-page="/Home/WebTechnologies">
                <img src="~/images/Thumbnails/WebTechnologies.png" alt="WebTechnologies_thumbanil" class="img-thumbnail">
            </a>
            <div class="thumbnail_text">WebSite Development & Internet </div>
        </div>
        <div class="col-sm-4 thumbnail_link mb-2">
            <a asp-area="" asp-page="/Library/CPP/Default">
                <img src="~/images/Thumbnails/CPP_Thumbnail.png" alt="image_CPP_Logo" class="img-thumbnail">
            </a>
            <div class="thumbnail_text">C++ Language</div>
        </div>
        <div class="col-sm-4 thumbnail_link mb-2">
            <a asp-area="" asp-page="/Library/Vulkan/Default">
                <img src="~/images/Thumbnails/VulkanAPI_thumbnail.png" alt="vulkan_thumbnail" class="img-thumbnail">
            </a>
            <div class="thumbnail_text">Vulkan Graphics API</div>
        </div>


    </div>
    <!-- Add more rows for additional images -->
</div>
