@page
@model StudioBriefcase.Pages.Home.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I'm not collecting any data. When I understand the significance of it and create a login,
   This policy is subject to change.
</p>