@page
@model StudioBriefcase.Pages.Home.WebTechnologiesModel
@{
}
<div class="container" style="margin-top:40px;">
    <div class="row justify-content-center">
        <div class="col-sm-4 thumbnail_link mb-2">
            <a asp-area="" asp-page="/Library/WebSite/Default">
                <img src="~/images/Thumbnails/WebDevelopment_Blocks.png" alt="website_block_Logo" class="img-thumbnail">
            </a>
            <div class="thumbnail_text">HTML, CSS, Javascript</div>
        </div>
    </div>
    <!-- Add more rows for additional images -->
</div>