@page
@model StudioBriefcase.Pages.IndexModel
@{
    Layout = "/Pages/Shared/_subLayout_Default.cshtml";
}

@*Adding View Component*@

<div class="whitespace"></div>

<div>
    <h5 class="text-center">Library of Hyperlinked coding Resources</h5>
    <p>
        It's purpose is to create a library of programming resources that is intrinsically hyperlinked to
        living documentation, industry terms, tutorial videos, online courses. It will make use of a database
        that will allow visitors or other content creators to help build the database by linking their own
        content through posting boards that will exist in every topic, of every subject of every library.
        Learners will easily be able to reach out to other related content if I'm not able to introduce
        something in a way they can understand. The goal is to save time and frustration learning to code.
    </p>
</div>


<div class="box-wraprow box-justify0 box-2col">

    <div class="box-col box-center0">
        <div class="box-col theme-rounded c-fg w75 h100">
            <div class="thumbnail-link">
                <a href="https://github.com/" target="_blank">
                    <img src="~/images/external/GitHub_Logo.png" alt="GitHub_Logo" class="logo-img">
                </a>
                <div class="thumbnail-text">Comming soon</div>
            </div>

            <h6 class=""> Giscus & OAuth2.0</h6>
            <p>
                Integration of GitHub services and Apps in my website for an easier user experience.
            </p>
        </div>
    </div>


    <div class="box-col box-center0">
        <div class="box-col theme-rounded c-fg w75 h100">
            <div class="thumbnail-link">
                <a href="https://discord.com/" target="_blank">
                    <img src="~/images/external/discord-logo-blue.png" alt="discord-logo" class="logo-img" style="max-width:150px;">
                </a>
                <div class="thumbnail-text">Get Discord</div>
            </div>

            <h6 class="">Discord</h6>
            <p>
                Discord is a free to use platform where people can meet and discuss. Bringing likeminded peers together is
                part of my vision.
            </p>
        </div>
    </div>
</div>

<div>
    <h5>Tutorial News - </h5>
    <p>
        Got hammered building the TEO Text Editor. But Its very close to being done. That Editor will be essential for allowing users
        to update and edit the content on this website.
    </p>
</div>
<div>
    <h5>2024 Alpha Road Map</h5>
    <ul>
        <li>Complete TEO Text Editor</li>
        <li>Complete Vulkan Library</li>
        <li>Add a Forum</li>        
        <li>Complete Section to the library Pages for user generated data.</li>
        <li>Add more discord channels to discord server.</li>
        <li>Update About Page - Content is becomming unrelated to the website.</li>
        <li>Add a dump of the database to the repo to use as a testing database for development.</li>
    </ul>
</div>

<div>
    <h5>Current working Prototypes</h5>
    <ul>
        <li>Built an Command Builder Class to make queries to the database.</li>
        <li>Library Alias Names can be Updated in the database.</li>
    </ul>
</div>

<div>
    <h5>Known Bugs</h5>
    <ul>
        <li>Header dropdowns don't shrink when clicked off.</li>
        <li>Updating User Class Preference doesn't immediatly update. I need to clear the context and re-add it.</li>
        <li>Has a publicly open database, I will need some method of preventing intrusive thoughts and shenanigans from happening.</li>
    </ul>
</div>



<div id="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="TAReber/StudioBriefcase-Web-App"
        data-repo-id="R_kgDOJTfuWg"
        data-category="General"
        data-category-id="DIC_kwDOJTfuWs4CVlnT"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
