@page
@model StudioBriefcase.Pages.IndexModel
@{
    //Layout AutoReferenced in _viewStart
}
<div class="container-fluid size_container">
    <div >
        <div class ="text-center">
            <h1 class="display-4">Welcome</h1>
            
            <p>This WebSite was developed with Microsoft's ASP.net Core</p>
            <h5>Maintenance News - </h5>
            <p>
                The structure of the website and library tools are targeted for the next development
                stage. Tutorial work in the libraries will be limited to a new Web Technologies
                category, which will include HTML, CSS, Javascript, SQL and Azure because those
                are the frameworks consuming my time.
            </p>
        </div>

        <div >

            <h5>Library of Hyperlinked coding Resources</h5>
            <p>
                It's purpose is to create a library of programming resources that is intrinsically hyperlinked to 
                living documentation, industry terms, tutorial videos, online courses. It will make use of a database 
                that will allow visitors or other content creators to help build the database by linking their own 
                content through posting boards that will exist in every topic, of every subject of every library. 
                Learners will easily be able to reach out to other related content if I'm not able to introduce 
                something in a way they can understand. The goal is to save time and frustration learning to code.
            </p>
            <div>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <div class="thumbnail_link opacity-100">
                            <a href="https://github.com/" target="_blank">
                                <img src="~/images/external/GitHub_Logo.png" alt="GitHub_Logo" class="img-thumbnail" style="max-width:150px;">
                            </a>
                            <div class="thumbnail_text">Comming soon</div>
                        </div>

                        <h6 class="fs-2"> Giscus & OAuth2.0</h6>
                        <p>
                            Integration of GitHub services and Apps in my website for an easier user experience.
                        </p>
                    </div>
                    <div class="col">
                        <div class="thumbnail_link opacity-100">
                            <a href="https://discord.com/" target="_blank">
                                <img src="~/images/external/discord-logo-blue.png" alt="discord-logo" class="img-thumbnail" style="max-width:150px;">
                            </a>
                            <div class="thumbnail_text">Get Discord</div>
                        </div>

                        <h6 class="fs-2">Discord</h6>
                        <p>
                            Discord is a free to use platform where people can meet and discuss. Bringing likeminded peers together is
                            part of my vision.
                        </p>
                    </div>

                </div>
            </div>

            <h5>StudioBriefcase Web App Project</h5>

            <p>
                Making my own website is a project I've been looking to start for some time but have been constrained by time while in school. Luckily,
                Spring Break has arrived and I had one whole week to branch off from school teachings and start learning ASP.Net Core.
            </p>
            <p>
                I hope to build a website that's more than just a portfolio. So I will define development goals for anyone who happens to stumble upon
                this site. The time frame to complete these tasks is unknown because completing my degree program will consume much of my time. But I
                will list features in the order I plan to develop them.
            </p>

            <h5>Features</h5>
            <ul>
                <li>Persistant Darkmode.</li>
                <li>Dynamically Loaded Pages.</li>
                <li>UX Interactive Thumbnail links.</li>
            </ul>


            <h5>2023 Road Map</h5>
            <ul>
                <li>Complete Vulkan Tutorial</li>
                <li>Experient with Database to finalize the planned structure and design</li>
            </ul>

            <h5>Known Bugs</h5>
            <ul>
                <li>Tutorial Page transition on tutorial content is not smooth.</li>
            </ul>


            <h5>2023 Completed Tasks</h5>
            <ul>
                <li>Add a support Page.</li>
                <li>Integrate Github Giscus - Turned out to easy.</li>
                <li>Created Signin with GitHug OAuth2.0</li>
                <li>Protected keys with Azure Key Vault</li>
                <li>Created Database and Connected with MySql to begin testing.</li>

            </ul>
        </div>


    </div>

    <div id="giscus"></div>
    <script src="https://giscus.app/client.js"
            data-repo="TAReber/StudioBriefcase-Web-App"
            data-repo-id="R_kgDOJTfuWg"
            data-category="General"
            data-category-id="DIC_kwDOJTfuWs4CVlnT"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="dark"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>

</div>


