@page
@model StudioBriefcase.Pages.IndexModel
@{
    //Layout AutoReferenced in _viewStart
}
<div class="container-fluid size_container">
    <div >
        <div class ="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>The WebSite was developed with Microsoft's ASP.net Core</p>
        </div>

        <div >

            <h5>Integration with External Resources</h5>
            <p>
                I will be integrating existing tools and resources into the devleopment of this website.
                This is because the tech industry is a massive network of interdependent frameworks and
                I want to learn how these things work together.
            </p>
            <div>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <div class="thumbnail_link opacity-100">
                            <a href="https://github.com/" target="_blank">
                                <img src="~/images/external/GitHub_Logo.png" alt="GitHub_Logo" class="img-thumbnail" style="max-width:150px;">
                            </a>
                            <div class="thumbnail_text">Comming soon</div>
                        </div>

                        <h6 class="fs-2"> Giscus</h6>
                        <p>
                            Planning to integrate GitHub Giscus for user a user commenting system and connecting people
                            to a project managment environment.

                        </p>
                    </div>
                    <div class="col">
                        <div class="thumbnail_link opacity-100">
                            <a href="https://discord.com/" target="_blank">
                                <img src="~/images/external/discord-logo-blue.png" alt="discord-logo" class="img-thumbnail" style="max-width:150px;">
                            </a>
                            <div class="thumbnail_text">Get Discord</div>
                        </div>

                        <h6 class="fs-2">Discord</h6>
                        <p>
                            Discord is a free to use platform where people can meet and discuss. Bringing likeminded peers together is
                            part of my vision.
                        </p>
                    </div>

                </div>
            </div>

            <h5>My Web App Project</h5>

            <p>
                Making my own website is a project I've been looking to start for some time but have been constrained by time while in school. Luckily,
                Spring Break has arrived and I had one whole week to branch off from school teachings and start learning ASP.Net Core.
            </p>
            <p>
                I hope to build a website that's more than just a portfolio. So I will define development goals for anyone who happens to stumble upon
                this site. The time frame to complete these tasks is unknown because completing my degree program will consume much of my time. But I
                will list features in the order I plan to develop them.
            </p>

            <h5>Features</h5>
            <ul>
                <li>Persistant Darkmode.</li>
                <li>Dynamically Loaded Pages.</li>
                <li>UX Interactive Thumbnail links.</li>
            </ul>


            <h5>2023 Road Map</h5>
            <ul>
                <li>Complete Vulkan Tutorial</li>
                <li>Add a support Page.</li>
                <li>Integrate Github Giscus</li>
                <li>Consider ways how Databases can be used to enhance my tutorial.</li>
            </ul>

            <h5>Known Bugs</h5>
            <ul>
                <li>Tutorial Page transition on tutorial content is not smooth.</li>
            </ul>

        </div>


    </div>
</div>
