@page
@model StudioBriefcase.Pages.MiniModel
@{
    Layout = "/Pages/Shared/_Layout_iFrame.cshtml";
}

<h4>Mini View Tutorial</h4>
<p>This is the site's picture in picture solution to view multiple frameworks or libraries simultaneously. As the site's tutorial count
    increases, the area will grow in usefulness and something I suspect will be the key componenent for the entire webapplicaiton that
    will set it apart from other sites.</p>

    <p>This area is intended to be used as a complete database browser to give the user full visibility over all the thing's stored in the database.</p>

    <p>The goals of this area are as follows.</p>
    <ul>
        <li>Browse and display tutorial pages.</li>
        <li>Search posts by tags.</li>
        <li>Unconstrained posts search by Library, subject or topics</li>
        <li>Searches by language.</li>
        <li>Maybe even searches by youtube channel or post types. </li>
    </ul>

    <p>What ever kind of search that can be thought of. But you can do it without losing your place or opening a new tab.</p>