.chapter_btn_toggle {
    outline: none;
    box-shadow: none;
    border: none;
}

    .chapter_btn_toggle:not(.collapsed) .expanded {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }


.img_format{
    max-width:200px;
    margin:4px;
}

.img_citation {
    padding-left: 15px;
}

.language_section {
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
    margin-bottom: 10px;
}

.link_decor {
    display: inline-flex;
    text-decoration: none;
    border-radius: 0.25rem;
    font-weight: 400;
    text-emphasis: none;
    color: inherit;
}

.clear_list_style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

vk{

}

vk:hover{
    cursor: pointer;
}

.chapter_listElement {
    padding-left: 30px;
}
/*********************
Programming Language Key Word Styles, used with <span>
*********************/
c-kw{
    color:#be85ff;
}
/*Function in the VK Library*/
c-func{
    color:#baa364;
    font-weight:bold;
}

c-type {
    color: #54b2a4; /*limegreen*/
    font-weight: bold;
}

c-mem {
    color: #8c9eff;
    font-weight:bold;
}

c-var{
    
}

c-enum{
    color:#3abf01;
    font-weight:bold;
}

l-dec{
    color: #4a63dd;
}