.DocyDrip-TEO-Selector-Event {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 0px;
    font-size: 5rem;
    border-radius: 8px;
}

    .DocyDrip-TEO-Selector-Event:hover {
        background-color: azure;
        opacity: 0.1;
    }

    .DocyDrip-TEO-Selector-Event.Active {
        border: 2px solid red;
    }

.DocyDrip-TEO-ObjectCreator {
    position: absolute;
    font-size: 1.5rem;
    left: 100%;
}

.DocyDrip-TEO-BlueBook::marker {
    content: "📘";
}

[open] .DocyDrip-TEO-BlueBook::marker {
    content: "📖";
}

.DocyDrip-TEO-Editable-Container {
    font-family: "Arial";
    min-height: 50px;
    width: 100%;
    border: 1px solid var(--menu-background);
}

    .DocyDrip-TEO-Editable-Container.Active {
        max-width: 99%;
        border-radius: 5px;
        padding: 2px;
        
        box-shadow: 0px 0px 5px 0px #7df;
    }

.DocyDrip-TEO-UI-Anchor {
    position: relative;
    width: 100%;
}

.DocyDrip-TEO-UI-Box {
    /* position:absolute; */
    top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DocyDrip-TEO-UI-Box-Ends {
    margin: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.DocyDrip-TEO-Button-Group {
    width: fit-content;
    margin: 4px;
    display: flex;
    flex-direction: row;
}

    .DocyDrip-TEO-Button-Group button {
        margin: 1px;
        display: inline-block;
        padding: 8px 12px;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border: 1px solid var(--menu-background);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    .DocyDrip-TEO-Button-Group:hover {
        background-color: var(--Background);
        color: var(--text-color2);
        border-color: var(--offset);
    }


/* .DocyDrip-TEO-Button-Style { */

/* } */

.DocyDrip-TEO-Button-Style:hover {
    background-color: var(--foreground);
    color: var(--offset);
    border-color: var(--menu-background);
}

/* .DocyDrip-TEO-Button-Style:active { */
/* background-color: #bbb; */
/* color: #333; */
/* border-color: #999; */
/* } */

p {
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.DocyDrip-TEO-Selector-Style {
    width: 80px;
    height: 30px;
    margin: 2px;
    color: var(--text-color1);
    background-color: var(--foreground);
    padding: 0px;
    border: 1px solid var(--offset);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}


li {
    width: fit-content;
}

.indent {
    text-indent: 25px;
}

.justify-left {
    text-align: left;
}

.justify-center {
    text-align: center;
}

.justify-right {
    text-align: right;
}

.justify-full {
    text-align: justify;
}

/*Targeting Animations and backgrounds*/
.text-bg {
    background-color: var(--menu-background);
    border-radius: 5px;
    min-width: 25px;
}


.text-highlight-1 {
    animation: c-highlight-1 linear 3s;
}

@keyframes c-highlight-1 {
    from {
        outline: 1px solid #0a4;
    }

    to {
        outline: 2px solid #fd3;
    }
}

.text-highlight-2 {
    animation: c-highlight-2 linear 2.5s;
}

@keyframes c-highlight-2 {
    from {
        outline: 1px solid #953;
    }

    to {
        outline: 1px solid #fff;
    }
}
