/*All styles in site.css should be styles that can be applied to all pages.*/
/*_Layout.cshtml.css file is strictly the behavior of the view area, header, content and footer.*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.fixed_header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
}


.flex_content_down {
    width: 100%;
    flex-grow: 1;
}

.footer {
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    
}


/* Change the color of the text on button hover */
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    color: #a1a1a1;
}
/* Change the color of the text on link hover */
a:hover {
    color: #a1a1a1;
}

/* Styles for thumbnails throughout the site. */
.thumbnail_link {
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    box-sizing: border-box;
    position: relative;
    opacity: 0.7;
    transition: opacity 0.1s ease-in-out;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .thumbnail_link:hover {
        opacity: 1;
    }

        .thumbnail_link:hover .thumbnail_text {
            text-decoration: none;
            opacity: 0.8;
        }

        .thumbnail_link:hover .thumbnail_btn {
            text-decoration: none;
            opacity: 0.9;
            color: white;
        }
/* div child text element for thumbnails*/
.thumbnail_text {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    text-align: center;
    border-radius: 15px;
    background-color: black; /* Change background-color and opacity as needed */
    color: #ededed;
    text-decoration: none;
    font-size: 120%;
    font-weight: 800;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 200;
}
/*Button solution for thumbnails*/
.thumbnail_btn {
    position: absolute;
    margin-top: 3px;
    opacity: 0.2;
    width: 80%;
    height: fit-content;
    top: 85%;
    left: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 120%;
    transition: opacity 0.5s ease-in;
    background: #393939;
    color: aliceblue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border: none;
    border-radius: 25px;
}

/*Initialize Container with FG or BG*/
.FG {
    background-color: #a6b5b1;
    color: #7e1919;
}

.BG {
    background-color: #ededed;
    color: #683b03;
}

.dark_FG {
    background-color: #393939;
    color: #f6f6f6;
}

.dark_BG {
    background-color: #1a1e22;
    color: #f6f6f6;
}


.center_container{
    display:flex;
    justify-content: center;
    flex-direction:column;
}

.size_container {
    height: fit-content;
    width: 50%;
}

.nav_link {
    display: inline-block;
    padding: .25rem .5rem;
    margin-right: .125rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.nav_item {
    position: relative;
    display: block;
    /*padding: .5rem 1%;*/
}

.navbar-brand {
    color: inherit;
}

.navbar-nav {
    flex-direction: row;
}


.container_accordian {
    border: 1px solid #9d9d9d;

}
/*Repeated code in Default Tutrial form Chevron Rotation*/
.button_accordian {
    border: none;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

    .button_accordian:not(.collapsed) .expanded {
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
    }
